[package]
name = "robo_instructus_translation"
version = "0.5.0"
authors = ["Alex Butler <alexheretic@gmail.com>"]
edition = "2018"
publish = false

[dependencies]
rustc-hash = "2"
log = "0.4"

[build-dependencies]
quote = "1"
